charset_normalizer==2.1.1
certifi==2024.7.4
colorama==0.4.6
fonttools==4.55.8
idna==3.7
kiwisolver==1.4.4
matplotlib
mypy==0.991
numpy
packaging==24.2
pillow==9.4.0
plotext
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.32.0
six==1.16.0
torch~=2.6.0
torchsummary==1.5.1
tqdm==4.66.3
types-requests==2.28.11.7
types-setuptools==70.0.0
types-tqdm==4.64.1
urllib3==2.2.2
sklearn
evaluation~=0.0.2
plot_confusion_matrix
opencv-python
torchvision~=0.21.0
scikit-image~=0.25.2
setuptools~=68.2.0

